<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <title>Hireme </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--

    Template 2075 Digital Team

    http://www.tooplate.com/view/2075-digital-team

    -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/et-line-font.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/nivo-lightbox.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/nivo_themes/default/default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body style="background-color:black;" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- preloader section -->
    

    <!-- navigation section -->
    <section class="navbar navbar-fixed-top custom-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
               
                
                <a href="/hireme/index" class="navbar-brand">Hireme</a>
                
            </div>

        </div>
    </section>

    <!-- home section -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3> can search for a task for you or find someone to do it for you </h3><br><br><br>
                    <hr>

                    <h1 style="color:#56E1EC ;font-size: 7rem" ;font-family: “Comic Sans MS”, “Comic Sans”, monospace>Hireme</h1>
                    <hr><br>
                    <a href="/hireme/browseforjob" class="smoothScroll btn btn-danger">Browse for jobs</a>
                    <a href="/hireme/add" class="smoothScroll btn btn-danger">Add Job</a>
                    <a href="/hireme/managePost" class="smoothScroll btn btn-danger">manage your post</a>
                </div>
            </div>
        </div>
    </section>

 

    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/smoothscroll.js")"></script>
    <script src="@Url.Content("~/Content/js/isotope.js")"></script>
    <script src="@Url.Content("~/Content/js/imagesloaded.min.js")"></script>
    <script src="@Url.Content("~/Content/js/nivo-lightbox.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.backstretch.min.js")"></script>
    <script src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>


</body>
</html>